.login-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #1d1c1c; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}


.login-input,
.pass-input {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
}


.login-input:focus,
.pass-input:focus {
    width: 102%;
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}






/* Стили для кнопки */
.login-btn {
    padding: 10px; /* Внутренний отступ */
    margin-top: 10px; /* Отступ сверху */
    width: 100%; /* Занимает всю ширину */
    background-color: #007bff; /* Синий фон */
    color: #fff; /* Белый текст */
    border: none; /* Убираем бордер */
    border-radius: 4px; /* Сглаженные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель на курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход фона */
}

/* Эффект при наведении на кнопку */
.login-btn:hover {
    background-color: #0056b3; /* Более темный синий при наведении */
}

/* Стили для сообщения об ошибке */
.err-msg {
    color: red; /* Красный цвет текста */
    margin-top: 10px; /* Отступ сверху */
    font-size: 14px; /* Размер шрифта */
}
